<h2 class="mt-5">Work/Lifehack/ubuntu-server-setup</h2>
<div class="container mt-3 pb-3" id="lifehack-ubuntu-server-setup">

  <div class="simple-card">
    <div class="row py-3 align-items-start justify-content-center border-bottom border-white justify-content-center">
      <div class="col-sm-12">
        <h4 class="mt-1">ubuntu-server-setup</h4>
        <p class="lead"><i class="bi bi-code-slash"> </i>Shell, etc.</p>
        <p>Ubuntuサーバのセットアップスクリプトです．初期設定を自動的に進めてくれるので，設定漏れや設定ミスを防ぎます．定期的にサーバのOSをクリーンインストールするので用意しました．セキュリティ上の設定の誤りがなくなることを期待します．
        </p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="https://github.com/matchaism/ubuntu-server-setup" role="button">GitHub</a>
          <a class="btn btn-primary" href="https://macchanism.hateblo.jp/entry/uecadventcalendar2023" role="button">Blog</a>
        </div>
      </div>
    </div>
  </div>

</div>