<h2 class="mt-5">Work/Adventar Bell</h2>
<div class="container mt-3 pb-3" id="work-adventar-bell">

  <div class="simple-card">
    <div class="row py-3 align-items-start justify-content-center border-bottom border-white">
      <div class="col-sm-5">
        <img src="{$root}img/work/adventar-bell.png" class="w-100 mt-2">
      </div>
      <div class="col-sm-7">
        <h4 class="mt-1">Adventar Bell</h4>
        <!--<h4 class="mt-1"><a class="text-decoration-none" href="{$root}work/jppostbank-coin-handling-fee-simulator.html">UEC Kanmeiban Generator</a></h4>-->
        <p class="lead"><i class="bi bi-code-slash pe-1"></i>JavaScript, Google Apps Script, Webhook</p>
        <p>Adventarで開催されるAdvent Calendarに記事が投稿/公開された旨を，SlackやDiscordで通知してくれるツールを開発しました．</p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="https://github.com/matchaism/adventar_bell" role="button">GitHub</a>
          <a class="btn btn-primary" href="https://qiita.com/matchaism/items/f0f2c9ff7e3ffbab56eb" role="button">Qiita</a>
        </div>
      </div>
    </div>
  </div>

</div>
