<h1 class="mt-5">Work/JapanPostBank CoinHandlingFee Simulator</h1>
<div class="container mt-3 pb-3" id="work-jppostbank-coin-handling-fee-simulator">

  <div class="simple-card">
    <div class="row py-3 align-items-start justify-content-center border-bottom border-white">
      <div class="col-sm-5">
        <img src="{$root}img/work/jppostbank-coin-handling-fee-simulator.png" class="w-100 mt-2">
      </div>
      <div class="col-sm-7">
        <h4 class="mt-1">JapanPostBank CoinHandlingFee Simulator</h4>
        <!--<h4 class="mt-1"><a class="text-decoration-none" href="{$root}work/jppostbank-coin-handling-fee-simulator.html">UEC Kanmeiban Generator</a></h4>-->
        <p class="lead">
          <object type="image/svg+xml" data="{$root}/img/code.svg"></object>
          HTML, CSS, JavaScript, Python, Docker
        </p>
        <p>ゆうちょ銀行のATMでは硬貨の取扱枚数に応じて手数料が発生します．このツールは手持ちの硬貨から，手数料の割合が最小となる組み合わせを探索します．</p>
        <p>(バックエンドですが，)クライアント側のデバイスの負荷軽減と高速化のため，サーバに計算させ，Rest APIのやり取りで実行できるようにしました．</p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="http://jp-bank-coin-handling-fee-sim.matchaism.net/" role="button">デプロイページ (HTTP)</a>
          <a class="btn btn-primary" href="https://github.com/matchaism/jpbank-coin-handling-fee-simulator" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

</div>