<h1 class="mt-5">Work/UEC Kanmeiban Generator</h1>
<div class="container mt-3 pb-3" id="work-uec-kanmeiban-generator">

  <div id="simple-card">
    <div class="row py-4 align-items-start border-bottom border-white">
      <div class="col-sm-5">
        <img src="{$root}img/work/uec-kanmeiban-generator.png" class="w-100 mt-2">
      </div>
      <div class="col-sm-7">
        <h4 class="mt-1">UEC Kanmeiban Generator</h4>
        <!--<h4 class="mt-1"><a class="text-decoration-none" href="{$root}work/uec-kanmeiban-generator.html">UEC Kanmeiban Generator</a></h4>-->
        <p class="lead">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16"><path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg>
          HTML, CSS, JavaScript
        </p>
        <p>大学の施設に設置されている館銘板っぽい画像を生成します．館銘板とは，建物名などが記されたパネルで，マンションや公共施設などでよく見られます．</p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="https://uec-kanmeiban-generator.matchaism.net/" role="button">デプロイページ</a>
          <a class="btn btn-primary" href="https://github.com/macchanism/uec-kanmeiban-generator" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

</div>