<h2 class="mt-5">Work/JapanPostBank CoinHandlingFee Simulator</h2>
<div class="container mt-3 pb-3" id="work-jppostbank-coin-handling-fee-simulator">

  <div class="simple-card">
    <div class="row py-3 align-items-start justify-content-center border-bottom border-white">
      <div class="col-sm-5">
        <img src="{$root}img/work/jppostbank-coin-handling-fee-simulator.png" class="w-100 mt-2">
      </div>
      <div class="col-sm-7">
        <h4 class="mt-1">JapanPostBank CoinHandlingFee Simulator</h4>
        <!--<h4 class="mt-1"><a class="text-decoration-none" href="../work/jppostbank-coin-handling-fee-simulator.html">UEC Kanmeiban Generator</a></h4>-->
        <p class="lead"><i class="bi bi-code-slash pe-1"></i>HTML, CSS, JavaScript, Python, Docker</p>
        <p>When handling coins at JapanPostBank ATM, a fee is charged based on the number of coins.</p>
        <p>This tool searches for the combination with the smallest percentage of fee (=fee/total).</p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="http://jp-bank-coin-handling-fee-sim.matchaism.net/" role="button">Deploy (HTTP)</a>
          <a class="btn btn-primary" href="https://github.com/matchaism/jpbank-coin-handling-fee-simulator" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

</div>