<h2 class="mt-5">Work/LaTeX Counter</h2>
<div class="container mt-3 pb-3" id="work-latex_counter">

  <div class="simple-card">
    <div class="row py-3 align-items-start justify-content-center border-bottom border-white">
      <div class="col-sm-5">
        <img src="{$root}img/work/latex_counter.png" class="w-100 mt-2">
      </div>
      <div class="col-sm-7">
        <h4 class="mt-1">LaTeX Counter</h4>
        <!--<h4 class="mt-1"><a class="text-decoration-none" href="{$root}work/jppostbank-coin-handling-fee-simulator.html">UEC Kanmeiban Generator</a></h4>-->
        <p class="lead"><i class="bi bi-code-slash pe-1"></i>Python, HTML, JavaScript</p>
        <p>Programs that count LaTeX characters, manage writing and publish on GitHub Pages.</p>
        <div class="link-to-outside my-2">
          <a class="btn btn-primary" href="https://github.com/matchaism/latex_counter" role="button">GitHub</a>
        </div>
      </div>
    </div>
  </div>

</div>
