<footer class="mt-5 text-white-50 text-center">
  <div class="container-fluid text-center mb-4">
    <div class="row justify-content-around">
      <div class="col"><i class="bi bi-snow lead"></i> </div>
      <div class="col"><i class="bi bi-bell lead"></i> </div>
      <div class="col"><i class="bi bi-snow lead"></i> </div>
      <div class="col"><i class="bi bi-gift lead"></i> </div>
      <div class="col"><i class="bi bi-snow2 lead"></i></div>
      <div class="col"><i class="bi bi-tree lead"></i> </div>
      <div class="col"><i class="bi bi-snow3 lead"></i></div>
      <div class="col"><i class="bi bi-star lead"></i> </div>
    </div>
  </div>
  <p><small>Copyright &copy; matchaism All Rights Reserved.</small></p>
</footer>
