<header class="mb-auto">
  <h3 class="float-md-start mb-0">Matchaism Portal</h3>
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a id="navbar-home" class="nav-link" href="{$root}index.html">Home</a>
    <a id="navbar-work" class="nav-link" href="{$root}work.html">Work</a>
    <a id="navbar-contest" class="nav-link" href="{$root}contest.html">Contest</a>
    <!--delete-->
  </nav>
</header>

<!--
<header class="mb-auto">
  <h3 class="float-md-start mb-0">Matcha Portal</h3>
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" href="work.html">Work</a>
  </nav>
</header>
-->